@model IEnumerable<VehicleController.Models.Vehicle>

<!-- Vehicle list table -->
<table class="table">
    <thead>
        <tr>
            <th>License Plate</th>
            <th>Status ID</th>
            <th>Average Speed</th>
            <th>Distance Driven</th>
            <th>Distance Reversed</th>
            <th>Actions</th>
            <th>Message</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var vehicle in Model)
        {
            <tr>
                <td>@vehicle.LicensePlate</td>
                <td id="status-id-@vehicle.Id">@vehicle.StatusId</td>
                <td>@vehicle.AverageSpeed</td>
                <td id="distance-driven-@vehicle.Id">@vehicle.DistanceDriven</td>
                <td id="distance-reversed-@vehicle.Id">@vehicle.DistanceReversed</td>
                <td>
                    <button onclick="updateVehicleStatus(@vehicle.Id,1)">Drive</button>
                    <button onclick="updateVehicleStatus(@vehicle.Id,2)">Reverse</button>
                    <button onclick="updateVehicleStatus(@vehicle.Id,3)">Stop</button>
                </td>
                <td><span id="message-@vehicle.Id"></span></td>
            </tr>
        }
    </tbody>
</table>

<script src="~/js/signalr/jquery-3.6.0.min.js"></script>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/vehicle.js"></script>